body {
    background-color: rgb(218, 218, 218);
    padding-bottom: 70px;
}

.nav-link {
    color: #FFFAAA;
}

.nav-link:hover {
    color: white;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80);
    background-position-y: bottom;
    background-size: cover;
    color: white;
    text-align: center;
}

.container .row .col-md-12 {
    text-align: center;
}

.container .row .col-md-2 {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding-right: 10px;
    padding-top: 10px;
}

