/*body*/

body {
    background-color: rgb(247, 247, 247);
    padding-bottom: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*nav pane*/

.nav-link {
    color: #FFDB00;
    transition: text-shadow 0.3s;
}

.nav-link:hover {
    color: rgb(201, 201, 201);
    text-shadow: 4px 10px rgba(255, 221, 0, 0.384);
}

/*jumbotron*/

.container-fluid {
    padding: 0px;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1597092430872-09a3f4338c60?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1352&q=80);
    background-position-y: bottom;
    color: white;
    text-align: center;
    border-radius: 0px;
}

.jumbotron h1 {
    text-shadow: 2px 3px rgba(255, 221, 0, 0.568);
    transition: text-shadow 0.6s;
    transition-delay: 0.6s;
}

.jumbotron p {
    color: #000000;
    text-shadow:
                  -3px -0 25px black,
                  3px 0px 3px rgb(187, 187, 187),
                  0px 0px 15px black,
                  0 0 40px black;
}

.jumbotron p {
    transition: color 1.5s;
    transition-delay: 1.2s;
    color: #FFFFFF;
}

.jumbotron a {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #c4b7b7f5;
    padding: 5px;
    color: rgba(255, 221, 0, 0.932);
    transition: color 0.2s;
}

.jumbotron a:hover {
    color: #FF8100;
    transition-duration: 0.2s;
}

/*index*/
.col-lg-12 h5 {
    text-align: center;
    font-weight: bold;
}

.col-lg-2 {
    text-align: center;
}

figure {
    padding-top: 15px;
}

/*services page */

.col-lg-8 .service {
    padding-left: 15px;
    padding-right: 15px;
}

.col-lg-8 .img-fluid {
    max-width: 40%;
    max-height: 70%;
}

/*resource page*/

.col-lg-8 h5 {
    padding-top: 20px;

}

.col-lg-8 #resources {
    list-style-type: none;
    text-align: center;    
    padding: 0;
}

.col-lg-8 .resource-info {
    padding-left: 15px;
    padding-right: 15px;
}

#resources a {
    color: #000000;
    transition: font-size 0.1s;
    text-decoration: underline;
}

#resources a:hover {
    color: #FF8100;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration-style: solid;
}

/*contact page*/

.btn-submit {
    border-radius: 3px;
    background-color: #FFDB00;
    border-color: #000000;
    transition: background-color 0.2s;
}

.btn-submit:hover {
    background-color: #FF8100;
    transition: 0.3s;
}

/*footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    color: white;
    padding-right: 10px;
}

.footer .pull-left {
    font-size: 10px;
}

.footer .pull-right .list-inline .list-inline-item {
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 10px;
}

.fa {
    color: white;
}

.fa:hover {
    color: #FF8100;
    text-decoration: none;
}